.header-container{
    padding: var(--spacing-small);
    background-color: var(--color-medium);
}
.header-counter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
}

.header-img{
    width: 40px;
}